PORT=3000
DB_URL=postgres://postgres.[PROJECT_REF]:[PASSWORD]@aws-0-us-west-1.pooler.supabase.com:5432/postgres?sslmode=require
JWT_SECRET=change_me_in_development
APP_BASE_URL=http://127.0.0.1:3000
PAYHERE_MERCHANT_ID=122XXXX
PAYHERE_MERCHANT_SECRET=change_me_from_payhere_sandbox
PAYHERE_CHECKOUT_URL=https://sandbox.payhere.lk/pay/checkout
PAYHERE_RETURN_URL=http://127.0.0.1:3000/payment/success
PAYHERE_CANCEL_URL=http://127.0.0.1:3000/payment/cancel
